@model Battle.WebUI.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Country</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.color)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.population)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.population)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mineral)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mineral)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idgamer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idgamer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.populationreal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.populationreal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
