@model IEnumerable<Battle.WebUI.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.population)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mineral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idgamer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.populationreal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.population)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mineral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idgamer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.populationreal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
