@model Battle.Domain.Concrete.Country

@{
    Layout = null;

    NLog.Logger logger = NLog.LogManager.GetCurrentClassLogger();
    logger.Info("Country/CountryInfo.html");
}

<p id="valCountry"><b>@Model.nameEng </b></p>
<hr/>
@if (@Model.Gamer != null) {
<p id="valGamer"> Owner: @Model.Gamer.name </p>
}
<p id="valMinerals"> Minerals: @Model.mineral </p>
<p id="valPopulation"> Population: @Model.population </p>

