@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    NLog.Logger logger = NLog.LogManager.GetCurrentClassLogger();
    logger.Info("Game/Index.html");

    int? idMenu = 1;
    if (@Model != null) { idMenu = @Model; }
}

<div id="container">
    <div id="map">
	    @Html.Partial("Map")
    </div>

    <div id="content">		 
        <div id="divmenu2">
            <nav class="topmenu">
                <ul id="menu2">
                    <li id="menucountry">@Html.ActionLink("Country", "ChooseMenu", "Game", new { idMenu = 1 }, null)</li>
                    <li id="menudesign">@Html.ActionLink("Design", "ChooseMenu", "Game", new { idMenu = 2 }, null)</li>
                    <li id="menufactory">@Html.ActionLink("Factory", "ChooseMenu", "Game", new { idMenu = 3 }, null)</li>
                    <li id="menubunker">@Html.ActionLink("Bunker", "ChooseMenu", "Game", new { idMenu = 4 }, null)</li>
                    <li id="menubattles">@Html.ActionLink("Reports", "ChooseMenu", "Game", new { idMenu = 5 }, null)</li>
                </ul>
            </nav>
        </div>

        <div id = "contentPartial">
            <div id="contentPartialUp">
                @switch (idMenu)
                {
                    case 1:  
                        @Html.Action("CountryInfo", "Country")
                        break;
                    case 2:
                        @Html.Action("CreateDesign", "Design")
                        break;
                    case 3:
                        @Html.Action("CreateMech", "Factory")
                        break;
                    case 4:
                        @Html.Action("Bunker", "Bunker")
                        break;
                    case 5:
                        @Html.Action("Report", "Report")
                        break;
                    case 6:
                        @Html.Action("NewGame", "Game")
                        Response.Redirect(Url.Action("Index", "Game"));
                        break;
                    case 7:    
                        @Html.Action("NextTurn", "Game")
                        Response.Redirect(Url.Action("Index", "Game"));
                        break;
                    default:                    
                        @:-Tempest! Soon will strike the tempest! <br>
                        @: That is the courageous Petrel <br>
                        @: proudly soaring in the lightning <br>
                        @: over the sea's roar of fury; <br>
                        @: cries of victory the prophet: <br>
                        @:-Let the tempest come strike harder! <br><br>
            
                        break;
                }
            </div> 
            <div id="contentPartialDown">
                <img id="bahbahmech" src="~/Images/mechbahbah.gif" style="width:475px; height:350px;"/>
                <p id="result"></p>    
                <div id="progressBar"></div>    
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ChooseMenu", "Game", new { idMenu = 7 }))
    {
        <input id="btnNextTurn" type="submit" value="Next Turn" style="width: 1300px" />
    }

</div>

<script type="text/javascript">
    function StartInvoicing() {
        var progressNotifier = $.connection.progressHub;

        // client-side sendMessage function that will be called from the server-side
        progressNotifier.client.sendMessage = function (message, count) {
            // update progress
            UpdateProgress(message, count);
            //alert(message);
        };

        // establish the connection to the server and start server-side operation
        $.connection.hub.start().done(function () {
            // call the method CallLongOperation defined in the Hub
            progressNotifier.server.getCountAndMessage();
        });
    }
    function UpdateProgress(message, count) {
        var result = $("#result");
        result.html(message);
        $("#progressBar").progressbar({
            value: count,
            max: 176
        });

    }
    $(document).ready(function () {
        $("#bahbahmech").hide();
        StartInvoicing();

        $("#btnNextTurn").click(function () {
            $("#contentPartialUp").hide();
            $("#bahbahmech").show();
        })

    })
</script>

